/* Estilos generales para el contenedor principal */
.encabezado {
    position: relative;
    height: 400px;
    background: linear-gradient(to bottom, #000000 0%, #000000 33%, #333333 100%);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para la imagen */
.fotoEncabezado {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    z-index: 2;
}

/* Estilos para el contenedor del título */
.tituloEncabezado {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 3;
}

/* Estilos para el título */
.tituloEncabezado h1 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 400; 
    font-size: 70px; /* Tamaño de fuente predeterminado para escritorio */
    color: #FFFFFF; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
    text-align: center;
}

/* Media Queries para diseño responsive */

/* Móviles (hasta 767px) */
@media (max-width: 767px) {
    .encabezado {
        height: 200px;
    }
    .tituloEncabezado {
        padding: 10px 20px;
        border: 1px solid #FFFFFF;
    }
    .tituloEncabezado h1 {
        font-size: 30px; /* Tamaño ajustado para pantallas pequeñas */
    }
}

/* Tabletas y portátiles pequeños (768px a 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .encabezado {
        height: 300px;
    }
    .tituloEncabezado {
        padding: 15px 30px;
        border: 2px solid #FFFFFF;
    }
    .tituloEncabezado h1 {
        font-size: 50px; /* Tamaño ajustado para pantallas medianas */
    }
}

/* Escritorio (1025px y superior) */
@media (min-width: 1025px) {
    .encabezado {
        height: 400px;
    }
    .tituloEncabezado {
        padding: 20px 40px;
        border: 2px solid #FFFFFF;
    }
    .tituloEncabezado h1 {
        font-size: 70px; /* Tamaño de fuente predeterminado para pantallas grandes */
    }
}
