.presentacionInicio {
    padding: 20px; /* Espaciado general */
    text-align: center;

    .tituloInicio {
        font-size: 2.9rem;
        margin-bottom: 20px;
        text-align: center;
        color: $Componentes;
        font-family: 'Urbanist', sans-serif;
        font-weight: 400;
    }

    .textoInicio {
        font-size: 1.2rem;
        line-height: 1.6;
        margin-bottom: 20px;
        padding: 0px 20px 0px 20px;
    }
}

/* Móviles (hasta 767px) */
@media (max-width: 767px) {
    .presentacionInicio {
        padding: 10px; /* Reduce el padding en pantallas pequeñas */

        .tituloInicio {
            font-size: 2rem; /* Disminuye el tamaño del título */
        }

        .textoInicio {
            font-size: 1rem; /* Ajusta el tamaño del texto */
            line-height: 1.4;
        }
    }
}

/* Tabletas (768px a 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .presentacionInicio {
        padding: 15px; /* Ajusta el padding para tabletas */

        .tituloInicio {
            font-size: 2.3rem; /* Tamaño del título ligeramente más pequeño */
        }

        .textoInicio {
            font-size: 1.1rem; /* Ajusta el tamaño del texto */
            line-height: 1.5;
        }
    }
}

/* Escritorio (1025px y superior) */
@media (min-width: 1025px) {
    .presentacionInicio {
        padding: 30px; /* Mayor padding para pantallas grandes */

        .tituloInicio {
            font-size: 3rem; /* Aumenta el tamaño del título */
        }

        .textoInicio {
            font-size: 1.3rem; /* Tamaño más grande para el texto */
            line-height: 1.7;
        }
    }
}
