.Mapa{
    /*display: flex;
    justify-content: center;
    Esto se maneja desde el contenedor en Ubicacion
    */
    padding-top: 50px;
    height: 500px;
    width: 70%;
    background-color: $Componentes;
}