.Unidades {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
    background-color: $Fondo; 
}

.presentacionUnidades{
    padding: 40px;
    
    h2{
        padding-bottom: 20px;
        color: $Componentes;
        font-family: "Urbanist", sans-serif;
    }
    p{
        color: $TextoNegro;
        font-size: 18px;
        padding: 0px 20px;
        font-family: "Urbanist", sans-serif;
    }
}
.containerUnidades {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px;
    width: 100%;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    min-height: 200px; 
}

.fotosUnids, .textoUnidades {
    flex: 1;
}

.fotosUnids {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 250px; 
    overflow: hidden;
    position: relative;
    background-color: black;
}

.fotoSimbolo {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    z-index: 1;
    transition: opacity 0.3s, transform 0.3s;
}

.fotoUnid {
    width: 100%;   
    height: 100%;  
    object-fit: cover; 
    transition: 0.3s;
    background-color: black !important;
}

.fotoUnid:hover {
    cursor: pointer;
    opacity: 0.7;
}

.fotosUnids:hover .fotoSimbolo {
    display: block;
    cursor: pointer;
}

.textoUnidades {
    font-family:'Urbanist', sans-serif;
    color: $TextoNegro;
    padding-top: 20px; 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    position: relative;
    min-height: 200px; 

    h2 {
        color: $Componentes;
    }

    .aloeFooter {
        width: 30px;
        height: auto;
        display: block;
        margin: auto; 
        margin-bottom: 10px;
    }
}

/* Media Queries */

@media (max-width: 767px) {
    .presentacionUnidades h2 {
        font-size: 24px;
    }

    .item {
        flex-direction: column;
        min-height: auto;
    }

    .fotosUnids {
        width: 100%;
        height: 200px;
    }

    .tituloUnid {
        font-size: 20px;
    }

    .textoUnid {
        font-size: 14px;
        padding: 0 20px;
    }

    .aloeFooter {
        width: 20px;
        margin: 0px auto 10px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .presentacionUnidades h2 {
        font-size: 30px;
    }

    .fotosUnids {
        height: 100%;
    }

    .tituloUnid {
        font-size: 22px;
        padding-bottom: 6px;
    }

    .textoUnid {
        font-size: 16px;
        padding: 0 20px;
    }

    .aloeFooter {
        width: 25px;
        margin: 15px auto;
    }

    .Unid2, .Unid4 {
        flex-direction: row-reverse;
    }
}

@media (min-width: 1025px) {
    .presentacionUnidades h2 {
        font-size: 36px;
    }

    .containerUnidades {
        padding: 20px;
    }

    .item {
        flex-direction: row;
        min-height: 350px;
    }

    .fotosUnids {
        height: 100%;
    }

    .tituloUnid {
        font-size: 28px;
        padding-bottom: 20px;
    }

    .textoUnid {
        font-size: 18px;
        padding: 0 40px;
    }

    .aloeFooter {
        width: 30px;
        margin: 30px auto;
    }

    .Unid2, .Unid4 {
        flex-direction: row-reverse;
    }
}

