/*$color1: #fff1d8; //texto claro
$color2: #f5deb3; //fondo
$color3: #f7c686; //elementos importantes
$color4: #d13630; //seccion importante

$color5: #252525; //titulo texto oscuro
$color6: #464646; //texto oscuro 
*/
//$sombra: text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

$Componentes: #b60043;
$Fondo: #ffffc1; 
$TituloNegro: black;
$TextoNegro: #333333;
$Encabezado: #ffffff;
$TextoBlanco: #f8f8f8;
$color7: #D9BE6C;


/*Tamaños de las media queries
@media (max-width: 767px) 
@media (min-width: 768px) and (max-width: 1024px) 
@media (min-width: 1025px) 
*/