@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);
* {
  margin: 0;
}

.App {
  text-align: center;
  background-color: #CBBD93;
  overflow: hidden;
}

.carrusel {
  background-color: black;
  display: flex;
}

.flecha {
  width: 40px;
  margin: 20px;
}

.carousel-inner img {
  width: 100%;
  height: auto; /* Mantiene la proporción de la imagen */
}

#carouselExampleAutoplaying {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Alinea el contenido en la parte inferior */
  width: 100%;
  max-height: 100vh; /* Ajusta la altura al 100% de la vista */
}

.carrusel .carousel-item {
  position: relative; /* Necesario para posicionar el texto absolutamente dentro del item */
}
.carrusel .carousel-item img {
  opacity: 60%;
}

.textoCarruselInicio {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 36px;
  z-index: 99999 !important;
  text-align: center;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  font-family: "Urbanist", sans-serif;
  white-space: nowrap;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}
/* Media Queries para diseño responsive */
/* Teléfono Móvil */
@media (max-width: 767px) {
  .flecha {
    width: 30px;
    margin: 10px;
  }
  .textoCarruselInicio {
    top: 60%;
    font-size: 18px;
  }
}
/* Tableta */
@media (min-width: 768px) and (max-width: 1199px) {
  .flecha {
    width: 35px;
    margin: 15px;
  }
  .textoCarruselInicio {
    top: 65%;
    font-size: 40px;
  }
}
/* Escritorio */
@media (min-width: 1200px) {
  .flecha {
    width: 40px;
    margin: 20px;
  }
  .textoCarruselInicio {
    top: 70%;
    font-size: 36px;
  }
}
.contacto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 60px;
  background-image: url("/absolute/../src/img/fotoExterior2.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.fotoCosta {
  opacity: 56%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.textoContacto {
  display: flex;
  justify-content: center;
  z-index: 1;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
}

.textoContacto h3 {
  color: #ffffff;
  font-size: 18px;
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
  white-space: normal;
  letter-spacing: 1.5px;
  word-spacing: 3px;
  line-height: 1.5;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  margin: 0px;
  border-radius: 5px;
}

.contact-form {
  margin-top: 20px;
  width: 100%;
  max-width: 400px;
  background-color: rgba(0, 0, 0, 0.6823529412);
  padding: 10px;
  border-radius: 5px;
  font-family: "Urbanist", sans-serif;
  font-weight: 300;
  font-size: 16px;
  z-index: 1;
}

.contact-form h2 {
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

label {
  display: block;
  margin-bottom: 5px;
  color: #ffffff;
  text-align: start;
  padding-left: 20px;
}

input[type=text], input[type=date], input[type=number], input[type=email] {
  background-color: rgba(0, 0, 0, 0.3490196078);
  color: #ffffff;
  width: 90%;
  padding: 6px;
  margin-bottom: 8px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
  height: 30px;
}

textarea {
  background-color: rgba(0, 0, 0, 0.3490196078);
  color: #ffffff;
  width: 90%;
  padding: 6px;
  margin-bottom: 8px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
  height: 100px;
}

.fechasContacto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 8px;
  margin-left: 19px;
  gap: 20px;
  align-items: center;
}

.fechasContacto .fecha1, .fechasContacto .fecha2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.fechasContacto label {
  margin-bottom: 5px;
  color: #ffffff;
  padding-left: 0;
}

.fechasContacto input {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3490196078);
  color: #ffffff;
  padding: 6px;
  margin-bottom: 8px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
  height: 30px;
}

#mensaje {
  resize: none;
}

button[type=submit] {
  color: #ffffff;
  background: #b60043;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
}

button[type=submit]:hover {
  color: white;
  background-color: #d1004d;
}

/* Media queries */
@media (max-width: 767px) {
  .contacto {
    flex-direction: column;
    align-items: center;
    padding: 2px;
  }
  .textoContacto {
    width: 100%;
    padding: 50px 20px;
  }
  .contact-form {
    width: 90%;
    margin-top: 30px;
  }
  .fechasContacto .fecha1, .fechasContacto .fecha2 {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .contacto {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .textoContacto {
    width: 80%;
    padding: 20px;
  }
  .contact-form {
    padding-top: 20px;
    width: 70%;
    margin-top: 100px;
  }
  .fechasContacto {
    flex-direction: row;
  }
  .fechasContacto .fecha1, .fechasContacto .fecha2 {
    width: 45%;
  }
}
@media (min-width: 1025px) {
  .contacto {
    flex-direction: row-reverse;
    height: 100vh;
    padding: 50px 40px;
    align-items: flex-end;
  }
  .textoContacto {
    width: 56%;
    align-self: flex-end;
    padding: 20px 20px 0px 100px;
  }
  .contact-form {
    width: 400px;
    margin-right: 48px;
    align-self: flex-end;
  }
  .fechasContacto {
    flex-direction: row;
  }
  .fechasContacto .fecha1, .fechasContacto .fecha2 {
    width: 45%;
  }
}
.carrusel2 {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.carrusel2 .carousel-item1 img {
  height: 450px;
  object-fit: cover;
}

.Unidades {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
  background-color: #CBBD93;
}

.presentacionUnidades {
  padding: 40px;
}
.presentacionUnidades h2 {
  padding-bottom: 20px;
  color: #b60043;
  font-family: "Urbanist", sans-serif;
}
.presentacionUnidades p {
  color: #333333;
  font-size: 18px;
  padding: 0px 20px;
  font-family: "Urbanist", sans-serif;
}

.containerUnidades {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 100%;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  min-height: 200px;
}

.fotosUnids, .textoUnidades {
  flex: 1;
}

.fotosUnids {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 250px;
  overflow: hidden;
  position: relative;
  background-color: black;
}

.fotoSimbolo {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  z-index: 1;
  transition: opacity 0.3s, transform 0.3s;
}

.fotoUnid {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
  background-color: black !important;
}

.fotoUnid:hover {
  cursor: pointer;
  opacity: 0.7;
}

.fotosUnids:hover .fotoSimbolo {
  display: block;
  cursor: pointer;
}

.textoUnidades {
  font-family: "Urbanist", sans-serif;
  color: #333333;
  padding-top: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  min-height: 200px;
}
.textoUnidades h2 {
  color: #b60043;
}
.textoUnidades .aloeFooter {
  width: 30px;
  height: auto;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

/* Media Queries */
@media (max-width: 767px) {
  .presentacionUnidades h2 {
    font-size: 24px;
  }
  .item {
    flex-direction: column;
    min-height: auto;
  }
  .fotosUnids {
    width: 100%;
    height: 200px;
  }
  .tituloUnid {
    font-size: 20px;
  }
  .textoUnid {
    font-size: 14px;
    padding: 0 20px;
  }
  .aloeFooter {
    width: 20px;
    margin: 0px auto 10px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .presentacionUnidades h2 {
    font-size: 30px;
  }
  .fotosUnids {
    height: 100%;
  }
  .tituloUnid {
    font-size: 22px;
    padding-bottom: 6px;
  }
  .textoUnid {
    font-size: 16px;
    padding: 0 20px;
  }
  .aloeFooter {
    width: 25px;
    margin: 15px auto;
  }
  .Unid2, .Unid4 {
    flex-direction: row-reverse;
  }
}
@media (min-width: 1025px) {
  .presentacionUnidades h2 {
    font-size: 36px;
  }
  .containerUnidades {
    padding: 20px;
  }
  .item {
    flex-direction: row;
    min-height: 350px;
  }
  .fotosUnids {
    height: 100%;
  }
  .tituloUnid {
    font-size: 28px;
    padding-bottom: 20px;
  }
  .textoUnid {
    font-size: 18px;
    padding: 0 40px;
  }
  .aloeFooter {
    width: 30px;
    margin: 30px auto;
  }
  .Unid2, .Unid4 {
    flex-direction: row-reverse;
  }
}
.encabezado {
  position: relative;
  height: 400px;
  background: linear-gradient(to bottom, #000000 0%, #000000 33%, #333333 100%);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fotoEncabezado {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  z-index: 2;
}

.tituloEncabezado {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #FFFFFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 3;
}

.tituloEncabezado h1 {
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
  font-size: 70px;
  color: #FFFFFF;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 0;
  text-align: center;
}

/* Media Queries */
@media (max-width: 767px) {
  .encabezado {
    height: 200px;
  }
  .tituloEncabezado {
    padding: 10px 20px;
    border: 1px solid #FFFFFF;
  }
  .tituloEncabezado h1 {
    font-size: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .encabezado {
    height: 300px;
  }
  .tituloEncabezado {
    padding: 15px 30px;
    border: 2px solid #FFFFFF;
  }
  .tituloEncabezado h1 {
    font-size: 50px;
  }
}
@media (min-width: 1025px) {
  .encabezado {
    height: 400px;
  }
  .tituloEncabezado {
    padding: 20px 40px;
    border: 2px solid #FFFFFF;
  }
  .tituloEncabezado h1 {
    font-size: 70px;
  }
}
.EnlaceContacto {
  position: relative;
  text-align: center;
  background-color: black;
}

.contenedorEnlaceContacto {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.TituloEnlaceContacto {
  font-family: "Urbanist";
  font-style: 400;
  position: absolute;
  top: 20%;
  color: #ffffff;
  font-size: 46px;
  z-index: 1;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.FraseEnlaceContacto {
  font-family: "Urbanist", sans-serif;
  font-style: 300;
  position: absolute;
  color: #f8f8f8;
  top: 36%;
  font-size: 25px;
  z-index: 1;
  padding: 0px 20px;
}

.fotoEnlaceContacto {
  opacity: 50%;
  display: block;
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.textoEnlaceContacto {
  position: absolute;
  top: 72%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 4.3rem;
  font-family: "Urbanist", sans-serif;
  font-style: 500;
  background: rgba(0, 0, 0, 0.3);
  padding: 0px 25px 18px 25px;
  border: 2px solid #ffffff;
  text-decoration: none;
  transition: 0.3s;
}

.textoEnlaceContacto:hover {
  color: rgb(211, 211, 211);
  border: 2px solid #b60043;
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

/* Media Queries */
@media (max-width: 767px) {
  .TituloEnlaceContacto {
    font-size: 24px;
    top: 15%;
  }
  .FraseEnlaceContacto {
    font-size: 16px;
    top: 30%;
  }
  .fotoEnlaceContacto {
    height: 300px;
  }
  .textoEnlaceContacto {
    font-size: 2.5rem;
    padding: 10px 15px;
    top: 72%;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .TituloEnlaceContacto {
    font-size: 32px;
    top: 18%;
  }
  .FraseEnlaceContacto {
    font-size: 20px;
    top: 32%;
  }
  .fotoEnlaceContacto {
    height: 400px;
  }
  .textoEnlaceContacto {
    font-size: 3rem;
    padding: 15px 20px;
    top: 65%;
  }
}
@media (min-width: 1200px) {
  .TituloEnlaceContacto {
    font-size: 46px;
    top: 20%;
  }
  .FraseEnlaceContacto {
    font-size: 25px;
    top: 36%;
  }
  .fotoEnlaceContacto {
    height: 500px;
  }
  .textoEnlaceContacto {
    font-size: 4.3rem;
    padding: 18px 25px;
    top: 72%;
  }
}
footer {
  padding-top: 20px;
  width: 100%;
  background-color: #1f1308;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  justify-content: center;
  margin: 0;
}

.columnaFooter {
  display: flex;
  flex-direction: column;
  font-family: "Khula", sans-serif;
}
.columnaFooter h3 {
  margin-bottom: 10px;
  font-size: 25px;
  color: #ffffff;
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.columnaFooter p {
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
  font-size: 14px;
  max-width: 150px;
  margin: auto;
  color: #f8f8f8;
  text-decoration: none;
}

.accesoNav {
  color: #f8f8f8;
  text-decoration: none;
  transition: text-shadow 0.3s ease;
}
.accesoNav:hover {
  color: #D9BE6C;
  transition: color 0.5s ease;
}

.logosRedes {
  display: flex;
  gap: 50px;
  margin: 20px auto;
  max-width: 300px;
}

.logoRed img {
  width: 50px;
  height: 50px;
}

.footer-bottom {
  grid-column: 1/-1;
  text-align: center;
  margin-top: 20px;
}

.footer-line {
  width: 90%;
  height: 1px;
  background-color: #b60043;
  margin: 0 auto;
}

.copyright {
  margin-top: 10px;
  color: #f8f8f8;
  font-size: 14px;
  font-family: "Urbanist", sans-serif;
  font-weight: 300;
}

/* Media Queries */
@media (max-width: 767px) {
  footer {
    height: auto;
    padding-top: 20px;
    grid-template-columns: 1fr;
    text-align: center;
    margin: 0;
  }
  .accesoNav {
    display: none;
  }
  .columnaFooter h3, .columnaFooter p {
    display: none;
  }
  .logosRedes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px auto;
    gap: 20px;
  }
  .logoRed img {
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  footer {
    padding-top: 20px;
  }
  .columnaFooter h3 {
    font-size: 20px;
  }
  .columnaFooter p {
    font-size: 12px;
    max-width: 200px;
  }
  .logosRedes {
    max-width: 250px;
  }
  .logoRed img {
    width: 45px;
    height: 45px;
  }
}
@media (min-width: 1025px) {
  footer {
    padding-top: 20px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .columnaFooter h3 {
    font-size: 25px;
  }
  .columnaFooter p {
    font-size: 14px;
    max-width: 150px;
  }
  .logosRedes {
    max-width: 300px;
  }
  .logoRed img {
    width: 50px;
    height: 50px;
  }
}
.frase {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-top: 60px;
}

.fotoFrase {
  width: 100%;
  opacity: 60%;
  height: auto;
}

.galeria-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0);
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  z-index: 1500;
}

.galeria-slides {
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
}

.galeria-slide img {
  width: 100%;
  height: auto;
  max-height: 90vh;
  object-fit: cover;
}

.prev-btn, .next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #fff1d8;
  font-size: 24px;
  padding: 20px;
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}

.galeria-dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.galeria-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1200;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #000000;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: #b60043;
}

/* Media Queries */
@media (max-width: 767px) {
  .galeria-content {
    margin-top: 20px;
    max-width: 95%;
    max-height: 95%;
  }
  .galeria-slide img {
    max-height: calc(70vh - 120px);
    width: auto;
    height: 100%;
    object-fit: contain;
  }
  .prev-btn, .next-btn {
    font-size: 24px;
    padding: 15px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .galeria-content {
    max-width: 90%;
    max-height: 90%;
    margin-top: 30px;
  }
  .galeria-slide img {
    max-height: calc(75vh - 20px);
    width: auto;
    height: 100%;
    object-fit: contain;
  }
  .prev-btn, .next-btn {
    font-size: 24px;
    padding: 18px;
  }
}
@media (min-width: 1025px) {
  .galeria-content {
    max-width: 90%;
    max-height: 90%;
  }
  .galeria-slide img {
    max-height: 90vh;
  }
  .prev-btn, .next-btn {
    font-size: 24px;
    padding: 20px;
  }
}
.galeriaInicio {
  margin: auto;
  text-align: center;
  color: #b60043;
  background-color: #CBBD93;
  padding: 20px;
}

.tituloGaleriaInicio {
  padding-bottom: 20px;
  font-family: "Urbanist", sans-serif;
}

.grid-row {
  display: grid;
  gap: 10px;
  margin-bottom: 0;
}

.fotosDeptosInicio {
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  border-radius: 8px;
  background-color: black;
}

.fotoSimboloInicio {
  display: none;
  position: absolute;
  width: 20%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  z-index: 1;
  transition: opacity 0.3s, transform 0.3s;
}

.fotoDeptoInicio {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}

.fotoDeptoInicio:hover {
  cursor: pointer;
  opacity: 0.7;
}

.fotosDeptosInicio:hover .fotoSimboloInicio {
  display: block;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.carrusel-container {
  position: relative;
  z-index: 1001;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
}

/* Media Queries */
@media (max-width: 767px) {
  .grid-row {
    grid-template-columns: repeat(2, 1fr);
  }
  .tituloGaleriaInicio {
    font-size: 34px;
  }
  .fotosDeptosInicio {
    height: 150px;
  }
  .fotoSimboloInicio {
    width: 30%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .grid-row {
    grid-template-columns: repeat(3, 1fr);
  }
  .tituloGaleriaInicio {
    font-size: 38px;
  }
  .fotosDeptosInicio {
    height: 200px;
  }
  .fotoSimboloInicio {
    width: 25%;
  }
}
@media (min-width: 1025px) {
  .grid-row {
    grid-template-columns: repeat(4, 1fr);
  }
  .tituloGaleriaInicio {
    font-size: 38px;
  }
  .fotosDeptosInicio {
    height: 270px;
  }
  .fotoSimboloInicio {
    width: 20%;
  }
}
.iconosServicios {
  position: relative;
  overflow: hidden;
  padding-bottom: 20px;
}
.iconosServicios h1 {
  position: relative;
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  color: #b60043;
  padding-top: 40px;
  padding-bottom: 10px;
  z-index: 2;
  text-align: center;
  font-size: 2.4em;
}
.iconosServicios .textoIconosServicios {
  position: relative;
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
  color: black;
  padding: 0px 20px 25px 20px;
  z-index: 20;
  text-align: center;
  font-size: 1.2em;
  line-height: normal;
  letter-spacing: 0.5mm;
}
.iconosServicios .serviciosFondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  opacity: 0.8;
  min-width: 100%;
  min-height: 100%;
}
.iconosServicios .iconos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 5px;
  color: #333333;
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  transition: 0.5s;
  text-align: center;
}
@media (max-width: 389px) {
  .iconosServicios .iconos {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    font-size: 0.7rem;
  }
}
@media (min-width: 390px) and (max-width: 785px) {
  .iconosServicios .iconos {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    font-size: 0.7rem;
  }
}
@media (min-width: 786px) and (max-width: 1024px) {
  .iconosServicios .iconos {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    font-size: 1rem;
  }
}
@media (min-width: 1025px) {
  .iconosServicios .iconos {
    grid-template-columns: repeat(5, minmax(150px, 1fr));
    font-size: 1.2rem;
  }
}
.iconosServicios .icono {
  text-align: center;
  width: 100%;
  height: auto;
  transition: transform 0.3s;
  z-index: 1;
}
.iconosServicios .icono img {
  width: 100%;
  max-width: 50px;
  height: auto;
}
.iconosServicios .icono:hover {
  transform: scale(1.1);
}
.iconosServicios .icono p {
  padding-top: 5px;
  white-space: nowrap;
  transition: transform 0.3s;
}

.presentacionInicio {
  padding: 20px;
  text-align: center;
}
.presentacionInicio .tituloInicio {
  font-size: 2.9rem;
  margin-bottom: 20px;
  text-align: center;
  color: #b60043;
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
}
.presentacionInicio .textoInicio {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
  padding: 0px 20px 0px 20px;
}

/* Media Queries */
@media (max-width: 767px) {
  .presentacionInicio {
    padding: 10px;
  }
  .presentacionInicio .tituloInicio {
    font-size: 2rem;
  }
  .presentacionInicio .textoInicio {
    font-size: 1rem;
    line-height: 1.4;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .presentacionInicio {
    padding: 15px;
  }
  .presentacionInicio .tituloInicio {
    font-size: 2.3rem;
  }
  .presentacionInicio .textoInicio {
    font-size: 1.1rem;
    line-height: 1.5;
  }
}
@media (min-width: 1025px) {
  .presentacionInicio {
    padding: 30px;
  }
  .presentacionInicio .tituloInicio {
    font-size: 3rem;
  }
  .presentacionInicio .textoInicio {
    font-size: 1.3rem;
    line-height: 1.7;
  }
}
.Mapa {
  padding-top: 50px;
  height: 500px;
  width: 70%;
  background-color: #b60043;
}

.hamburger {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1200;
}

.contacto-link {
  background-color: #b60043;
  color: white;
  border-radius: 5px;
  margin-top: 1.5rem !important;
  padding: 10px 10px !important;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid transparent;
  transition: background-color 0.3s ease !important;
}

.contacto-link:hover {
  background-color: #d1004d;
  color: white !important;
}

/* Media queries */
@media (max-width: 849px) {
  .hamburger {
    display: block;
  }
  .nav {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: rgb(0, 0, 0) !important;
    position: absolute;
    top: 140px;
    left: 0;
    z-index: 1000;
  }
  .nav.show {
    display: flex;
    padding: 0 !important;
    width: 100% !important;
  }
  .nav-item {
    text-align: center;
    margin: 0;
  }
  .NavBar {
    flex-direction: column;
    align-items: flex-start;
    padding: 42px 0;
    width: 100%;
    background-color: black;
  }
  .NavBar h2, .NavBar h3 {
    position: static;
    text-align: left;
    margin: 10px;
    word-wrap: break-word;
  }
  .NavBar h2 {
    font-size: 18px;
  }
  .NavBar h3 {
    font-size: 14px;
  }
  .nav-link {
    padding: 10px 0;
    color: #ffffff !important;
    font-size: 18px;
    text-shadow: none;
    border-bottom: none;
  }
  .nav-link:hover {
    transition: color 0.3s ease;
  }
}
@media (min-width: 850px) and (max-width: 1200px) {
  .hamburger {
    display: none;
  }
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgb(0, 0, 0) !important;
  }
  .nav-item {
    margin: 0;
    text-align: center;
  }
  .NavBar {
    flex-direction: row;
    align-items: center;
    padding: 0;
    width: 100%;
  }
  .NavBar h2, .NavBar h3 {
    position: static;
    text-align: center;
    margin: 0;
    font-size: 20px;
  }
  .NavBar h2 {
    font-size: 22px;
  }
  .NavBar h3 {
    font-size: 18px;
  }
  .nav-link {
    padding: 15px;
    font-size: 18px;
  }
  .nav-link:hover {
    color: #D9BE6C;
    transition: color 0.3s ease;
  }
}
@media (min-width: 1201px) {
  .hamburger {
    display: none;
  }
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: linear-gradient(to bottom, rgba(61, 61, 61, 0.5), transparent);
    position: relative;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  .nav-item {
    margin: 0;
    text-align: center;
  }
  .NavBar {
    flex-direction: row;
    align-items: center;
    padding: 0;
    width: 100%;
  }
  .NavBar h2, .NavBar h3 {
    position: static;
    text-align: center;
    margin: 0;
    font-size: 24px;
  }
  .NavBar h2 {
    font-size: 24px;
  }
  .NavBar h3 {
    font-size: 20px;
  }
  .nav-link {
    padding: 17px 20px;
    font-size: 20px;
  }
  .nav-link:hover {
    color: #b60043;
    transition: color 0.5s ease;
  }
}
.nav-link {
  color: #ffffff;
  margin-top: 1rem;
  border-bottom: 2px solid transparent;
  padding: 17px 20px;
  font-size: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: "Urbanist", sans-serif;
}
.nav-link:hover {
  color: #D9BE6C;
  transition: color 0.5s ease;
  text-shadow: 2px 2px 4px rgba(245, 240, 240, 0.26);
}

.nav {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding-right: 30px;
  box-sizing: border-box;
}

.NavBar {
  display: flex;
  align-items: flex-start;
  width: 100%;
  position: relative;
}
.NavBar h2 {
  font-size: 24px;
  position: absolute;
  top: 20px;
  left: 20px;
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 1600;
}
.NavBar h3 {
  position: absolute;
  top: 50px;
  left: 20px;
  font-size: 16px;
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
  color: #b60043;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 1600;
}
.NavBar .fixed .nav {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
}
.fixed .nav {
  background-color: rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(to bottom, rgba(61, 61, 61, 0.5), transparent) !important;
}

.nav.show + .NavBar h2,
.nav.show + .NavBar h3 {
  display: none;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.OtrosServicios {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.item1 {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1/3;
}

.item2 {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1/3;
}

.textoOtrosServicios .iconoOtrosServicios {
  width: 10% !important;
  height: auto !important;
  display: block;
  margin: 0 auto;
}
.textoOtrosServicios h3 {
  color: #b60043;
  text-align: center;
}
.textoOtrosServicios p {
  color: #333333;
  padding: 20px;
  text-align: center;
}

.swiper {
  width: 100%;
}

/* Media Queries */
@media (max-width: 767px) {
  .OtrosServicios {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  .item1, .item2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .OtrosServicios {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
  .item1, .item2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .textoOtrosServicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .tituloOtrosServicios {
    width: auto;
  }
}
@media (min-width: 1025px) {
  .OtrosServicios {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
  .item1 {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .item2 {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.textAnimation1 {
  position: absolute;
  width: 450px;
  left: 50%;
  margin-left: -290px;
  height: 40px;
  top: 70%;
  margin-top: -20px;
  color: #b60043;
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  font-size: 50px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  white-space: nowrap;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

.textAnimation1 p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.word {
  position: absolute;
  width: 220px;
  opacity: 0;
  transition: opacity 0.5s;
  color: #fcd07f;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  left: 295px;
  white-space: pre;
}

.word.active {
  opacity: 1;
}

.letter {
  display: inline-block;
  position: relative;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.subtituloTextAnimation {
  font-family: "Urbanist", sans-serif;
  font-weight: 300;
  position: absolute;
  color: #b60043;
  display: flex;
  top: 65px;
  left: 200px;
  font-size: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.ubicacion {
  min-height: calc(100vh - 200px);
  width: 100%;
  background-color: #CBBD93;
  display: flex;
  flex-direction: column;
}

.carruselUbicacion {
  height: auto;
  background-size: cover;
  background-position: center;
}
.carruselUbicacion .carousel {
  padding-top: 120px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

.presentacionUbicacion {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  font-family: "Urbanist", sans-serif;
}
@media (min-width: 768px) {
  .presentacionUbicacion {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "tituloUbicacion fraseUbicacion" "textoUbicacion textoUbicacion";
    padding: 10px 40px;
    gap: 20px;
    font-size: 16px;
  }
}
@media (min-width: 1025px) {
  .presentacionUbicacion {
    padding: 50px 60px;
    font-size: 20px;
  }
}

.fraseUbicacion {
  grid-area: fraseUbicacion;
  font-size: 2rem;
  color: #b60043;
  font-weight: 500;
}

.textoUbicacion {
  grid-area: textoUbicacion;
  color: #333333;
}

.serviciosCercanos {
  height: auto;
  background-color: #CBBD93;
}
.serviciosCercanos h2 {
  color: #b60043;
  font-family: "Urbanist";
  font-weight: 500;
  font-size: 2rem;
  padding-top: 20px;
}

.mapaUbicacion {
  height: auto;
  padding: 20px;
  color: #b60043;
  background-color: #CBBD93;
}
.mapaUbicacion img {
  padding: 20px;
  width: 90%;
}

.tituloMapa {
  user-select: none;
  font-family: "Urbanist", sans-serif;
  font-size: 2rem;
  font-weight: 500;
}

.swiper-container1 {
  padding: 20px;
  margin: 20px auto;
  position: relative;
}
.swiper-container1 .swiper-slide {
  position: relative;
  display: block;
}
.swiper-container1 .swiper-slide img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.swiper-container1 .swiper-slide .textoSlides {
  position: absolute;
  margin: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 25px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.705);
  text-align: center;
  box-sizing: border-box;
}
@media (max-width: 570px) {
  .swiper-container1 .swiper-slide img {
    height: 200px;
  }
  .swiper-container1 .textoSlides {
    font-size: 12px !important;
  }
}
@media (min-width: 571px) and (max-width: 767px) {
  .swiper-container1 .swiper-slide img {
    height: 200px;
  }
  .swiper-container1 .textoSlides {
    font-size: 16px !important;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .swiper-container1 .swiper-slide img {
    height: 300px;
  }
  .swiper-container1 .textoSlides {
    font-size: 20px !important;
  }
}
@media (min-width: 1025px) {
  .swiper-container1 .swiper-slide img {
    height: 400px;
  }
  .swiper-container1 .textoSlides {
    font-size: 25px !important;
  }
}

.bordeSwiper2 {
  padding: 20px;
  margin: auto;
  max-width: 1200px;
  position: relative;
}

.swiper-container2 {
  max-width: 900px;
  margin: auto;
  position: relative;
  border: solid 2px white;
  padding: 10px;
}
.swiper-container2 .slide-image {
  width: 100%;
  height: 600px;
  object-fit: cover;
}
.swiper-container2 .swiper-button-custom {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transform: translateY(-50%);
  z-index: 10;
  transition: opacity 0.15s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: #b60043;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: 0.5;
}
.swiper-container2 .swiper-button-custom:hover {
  opacity: 100;
}
.swiper-container2 .swiper-button-prev-custom {
  left: 10px;
}
.swiper-container2 .swiper-button-next-custom {
  right: 10px;
}

.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #b60043;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}

/* Media Queries */
@media (max-width: 767px) {
  .swiper-container2 {
    max-width: 100%;
    padding: 5px;
  }
  .swiper-container2 .slide-image {
    height: 250px;
  }
  .swiper-container2 .swiper-button-custom {
    width: 30px;
    height: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .swiper-container2 {
    max-width: 600px;
    padding: 8px;
  }
  .swiper-container2 .slide-image {
    height: 400px;
  }
  .swiper-container2 .swiper-button-custom {
    width: 35px;
    height: 35px;
  }
}
@media (min-width: 1025px) {
  .swiper-container2 {
    max-width: 1000px !important;
    padding: 10px;
  }
  .swiper-container2 .slide-image {
    height: 500px;
  }
  .swiper-container2 .swiper-button-custom {
    width: 40px;
    height: 40px;
  }
}
.swiper-container {
  width: 60%;
  margin: auto;
  position: relative;
  border: solid 2px white;
  padding: 10px;
}
.swiper-container .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.swiper-container .slide-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.swiper-container .swiper-button-custom {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 3vw;
  height: 3vw;
  z-index: 10;
  cursor: pointer;
}
.swiper-container .swiper-button-custom img {
  width: 100%;
  height: 100%;
}
.swiper-container .swiper-button-custom.swiper-button-prev-custom {
  left: 10px;
}
.swiper-container .swiper-button-custom.swiper-button-next-custom {
  right: 10px;
}
.swiper-container .swiper-pagination {
  bottom: 10px;
}
.swiper-container .swiper-pagination .swiper-pagination-bullet {
  background-color: #b60043;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}
.swiper-container .swiper-pagination .swiper-pagination-bullet:hover {
  opacity: 1;
}
.swiper-container .swiper-pagination .swiper-pagination-bullet-active {
  opacity: 1;
}

/* Media Queries */
@media (max-width: 767px) {
  .swiper-container {
    width: 90%;
    padding: 5px;
  }
  .swiper-button-custom {
    width: 8vw;
    height: 8vw;
    justify-content: space-between;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .swiper-container {
    width: 80%;
    padding: 8px;
  }
  .swiper-button-custom {
    width: 5vw;
    height: 5vw;
    justify-content: space-between;
  }
}
@media (min-width: 1025px) {
  .swiper-container {
    width: 60%;
    padding: 10px;
  }
  .swiper-button-custom {
    width: 3vw;
    height: 3vw;
    justify-content: space-between;
  }
}
.personalizar {
  margin-top: 100px;
  text-align: center;
  /* Media Queries */
}
.personalizar h2 {
  padding-bottom: 20px;
  color: #b60043;
  font-family: "Urbanist", sans-serif;
}
.personalizar .fila {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.personalizar .fila .tituloFila {
  font-size: 22px;
  color: #333333;
  margin-bottom: 10px;
  text-align: center;
}
.personalizar .fila .imagenes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.personalizar .fila img {
  flex-basis: 30%;
  max-width: 300px;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
}
.personalizar .seleccionada {
  border: 3px solid #1f1308;
}
.personalizar .botonGuardar {
  background-color: #b60043;
  color: white;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px 10px !important;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease !important;
}
.personalizar .botonGuardar:hover {
  background-color: #d1004d;
  color: white !important;
}
@media (max-width: 767px) {
  .personalizar .imagenes {
    flex-wrap: wrap;
  }
  .personalizar img {
    flex-basis: 45%;
    max-width: 150px;
    height: 150px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .personalizar .imagenes {
    justify-content: center;
  }
}

/*# sourceMappingURL=styles.css.map */
